.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.user_info {
	margin-top: 1rem;
	h4 {
		font-size: 1.3em;
		color: #371443;
		font-family: 'Averia Sans Libre', cursive;
		font-weight: 100;
		margin: 0;
		padding-bottom: 0.25rem;
	}
}


.user {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-image: url('../graphics/anthony.jpg');
}


.user-pin {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	h2 {
		color: #371443;
		font-family: 'Averia Sans Libre', cursive;
		font-weight: 100;
		font-size: 1.2em;
		margin-top: 2rem;
		margin-bottom: -0.5rem;
	}
}






	.user_info {
		position: relative;
		.user_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			background: linear-gradient(to right, #e2e2eb 75%, #D3D3E5 25%);
			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;

			}
		}
		.user_temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.user_edit {
			width: 35px;
			position: absolute;
			margin-top: -2.7rem;
			right: 1.1rem;
		}
	}

.button_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 1.25rem;
}

.profile_spot_button {
	display: flex;
	justify-content: center;
	align-items: center;

	  margin-top: 1rem;
	  margin-bottom: 0.8rem;
      padding: 5px 10px 5px 10px;
      border-radius: 50px;
      width: 13rem;
      height: 4rem;
      background-color: #2dd5cc;
      box-shadow: 0px 6px 0px #23B8BB;
      border: #155658;
      transition: all 100ms;

	color: #371443;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
    font-style: italic;
    img {
    	width: 45px;
    	height: 45px;
		margin: 0.3rem 0.8rem 0.3rem 0.8rem;
    }
}


.profile_spot_button:active {
	  margin-top: 1.2rem;
      padding: 5px 10px 5px 10px;
      border-radius: 50px;
      width: 14rem;
      height: 4rem;
      background-color: #26B7B0;
      box-shadow: 0px 3px 0px #1D989C;
      border: #155658;
      transition: all 100ms;
      transform: translateY(3px);
}





.profile_reset_button {
    font-size: 1rem;
    font-weight: 500;
    color: #371443;
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
    font-style: italic;

      margin-top: 1rem;
	  margin-bottom: 0.8rem;
	  padding: 5px 10px 5px 10px;
	  border-radius: 50px;
	  width: 11rem;
	  height: 2.5rem;
	  background-color: #2dd5cc;
	  box-shadow: 0px 6px 0px #23B8BB;
	  border: #155658;
	  transition: all 100ms;
	  transform: translateY(3px);
}



.profile_reset_button:active {
	  margin-top: 1.2rem;
      padding: 5px 10px 5px 10px;
      border-radius: 50px;
      width: 12rem;
      height: 2.5rem;
      background-color: #26B7B0;
      box-shadow: 0px 3px 0px #1D989C;
      border: #155658;
      transition: all 100ms;
}



.delete_account_btn {
	margin-top: 1.5rem;
	background-color: rgba(255,255,255,0);
	box-shadow: none;
	border: none;
	padding-bottom: 1.5rem;
	color: #371443;

	font-family: 'Muli', sans-serif;
	font-size: 0.8em;
	font-style: italic;
	font-weight: 100;
}









@media screen and (min-width: 375px) {
.profile {
	.user_info {
		margin-top: 1rem;
		h4 {
			font-size: 1.5em;
		}
	}
}



.user-pin {
	h2 {
		font-size: 1.35em;
		margin-top: 2rem;
		margin-bottom: -0.5rem;
	}
}

	.user_info {
		.user_flex {
			height: 85px;
			margin-bottom: 2px;
			padding-left: 6rem;
			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.user_temp {
			width: 85px;
			height: 85px;
			position: absolute;
			margin-top: -5.5rem;
			left: 0;
		}
		.user_edit {
			width: 35px;
			position: absolute;
			margin-top: -2.7rem;
			right: 1.1rem;
		}
	}

.button_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 1.25rem;
}

.profile_spot_button {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #371443;
	margin-top: 1.15rem;
    padding: 20px 20px 20px 20px;
    font-size: 1.1em;
    font-style: italic;
    img {
    	width: 45px;
    	height: 45px;
		margin: 0.3rem 0.8rem 0.3rem 0.8rem;
    }
}

.profile_reset_button {
	margin-top: 2rem;
    padding: 20px 20px 20px 20px;
    font-size: 1.1em;
    font-style: italic;
    color: #371443;
}

.delete_account_btn {
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;

	font-size: 0.9em;
	font-weight: 100;
}

}







@media screen and (min-width: 414px) {
.profile {
	.user_info {
		margin-top: 1rem;
		h4 {
			font-size: 1.7em;
		}
	}
}



.user-pin {
	h2 {
		font-size: 1.4em;
		margin-top: 2rem;
		margin-bottom: -0.5rem;
	}
}

	.user_info {
		.user_flex {
			height: 85px;
			margin-bottom: 2px;
			padding-left: 6rem;
			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.15em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.user_temp {
			width: 85px;
			height: 85px;
			position: absolute;
			margin-top: -5.5rem;
			left: 0;
		}
		.user_edit {
			width: 35px;
			position: absolute;
			margin-top: -2.7rem;
			right: 1.5rem;
		}
	}

.button_section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 1.25rem;
}

.profile_spot_button {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #371443;
	margin-top: 1.15rem;
    padding: 5px 10px 5px 10px;
    font-size: 1.1em;
    font-style: italic;
    img {
    	width: 45px;
    	height: 45px;
		margin: 0.3rem 0.8rem 0.3rem 0.8rem;
    }
}

.profile_reset_button {
	margin-top: 2rem;
    padding: 5px 10px 5px 10px;
    font-size: 1.1em;
    font-style: italic;
    color: #371443;
}

.delete_account_btn {
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;

	font-size: 0.9em;
	font-weight: 100;
}

}
















