@media only screen and (orientation: landscape) {
	body {
		width: 100wh;
		height: 100vh;
		color: #fff;
		background: linear-gradient(-45deg, #fe5893, #8589D5, #2fd9cf);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
	}

	#nav {
		display: none;
	}

	.port_wrap {
		display: none;
	}

	.land_wrap {
		display: flex;
		justify-content: center;
		position: relative;
	}

	.land-text_wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		top: 80%;
		margin-top: 2.5rem;
		position: absolute;
		h3 {
	      font-family: 'Averia Sans Libre', cursive;
	      font-weight: 100;
	      font-size: 1.75em;
	      color: white;
		}
	}

	.left_phone_wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 2rem;
		.left_phone {
			margin-top: 25%;
			animation: swivel_right 1.6s infinite .75s;
			transform: rotate(180deg);
			width: 45%;
			transform-origin: center center;
			#phone_one {
				transform-origin: center center;
			}
		}
	}


	@keyframes swivel_right {
		0% {
			transform: rotate(180deg);
		}
		20% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(90deg);
		}
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}




	// SVG Styles
	.cls-1 {
	        fill: #212121;
	      }

	      .cls-2 {
	        fill: #dbdbdb;
	      }

	      .cls-3 {
	        fill: #bfbfbf;
	      }

	      .cls-4 {
	        fill: #1972bc;
	      }

	      .cls-5 {
	        fill: #7b9fd6;
	      }

	      .cls-6 {
	        fill: #fcfcfc;
	      }

	      .cls-7 {
	        fill: #f2380c;
	      }

	      .cls-8 {
	        fill: #efde7d;
	      }

 	.cls-one {
	        fill: #212121;
	      }

	      .cls-two {
	        fill: #b2b2b2;
	  }

	.cls-one-one {
	        fill: #212121;
	      }

	      .cls-two-two {
	        fill: #b2b2b2;
	      }

}