.pinned_container {
	margin-bottom: 1.2rem;
	.pin_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-weight: 100;
			font-size: 1.3em;
			margin-bottom: 0;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.75em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.swap_btn {
			width: 75px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			right: 0rem;
			border: none;
			background-color: #d1d4e4;
			img {
				width: 35px;
				height: 35px;
				margin-top: -1rem;
			}
		}
		.swap_icon {
			width: 35px;
			height: 35px;
			position: absolute;
			margin-top: -3.4rem;
			right: 1.2rem;
		}
	}
}





.uncollect_container {
	margin-bottom: 1.2rem;
	.uncollect_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-size: 1.3em;
			font-weight: 100;
			margin-bottom: 1rem;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.75em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.add {
			width: 85px;
			height: 93.3px;
			position: absolute;
			margin-top: -5.2rem;
			right: -0.65rem;
			border: none;
			background-color: #d1d4e4;
		}
	}
}




.collect_container {
	padding-bottom: 1.2rem;
	.collect_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-size: 1.3em;
			font-weight: 100;
			margin-bottom: 1rem;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.75em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.add {
			width: 85px;
			height: 93.3px;
			position: absolute;
			margin-top: -5.2rem;
			right: -0.65rem;
			border: none;
			background-color: #d1d4e4;
		}
	}
}

.see_flex {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.see-more-btn {
      padding: 0;
      border-radius: 50px;
      width: 11rem;
      height: 2.7rem;
      background-color: #2dd5cc;
      box-shadow: 0px 6px 0px #23B8BB;
      border: #155658;
      transition: all 100ms;


      font-family: 'Muli', sans-serif;
      font-weight: 300;
      font-size: 1em;
      font-style: italic;
      color: #371443;
  }

    .see-more-btn:active {
      padding: 0;
      border-radius: 50px;
      width: 12rem;
      background-color: #26B7B0;
      box-shadow: 0px 3px 0px #1D989C;
      border: #155658;
      transform: translateY(3px);
      transition: all 100ms;
    }

	// .fade_bottom {
	// 	position: fixed;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	z-index: 2;
	// 	height: 7rem;
	// 	background-image: linear-gradient(180deg, rgba(243,242,247,0.00) 0%, rgba(243,242,247,1.00) 95%);
	// }


// MODAL STYLES


html, body {
  background: #F8F8FF;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* The Modal (background) */
.modal {
    color: #371244;
    font-family: 'Muli', sans-serif;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(46,25,54,0.7); /* Black w/ opacity */
  
}

.modal h1{
  font-weight: 600;
  font-size: 1.2rem;
  padding: 45px 15px 0px 15px;
}
.modal p{
  padding: 15px;
  padding-bottom: 0px;
  line-height: 1.8rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(248, 248, 255, .94);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #2E1936;
    border-radius: 25px;
    width: 80%; /* Could be more or less, depending on screen size */
    min-height: 300px;
    box-shadow: 0 5px 25px rgba(46,25,54,0.27);
}

.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
  min-height: 330px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
/*   background: #D7A151; */
}

.slide:nth-of-type(2) {
/*   background: #F4E4CD; */
}

.slide:nth-of-type(3) {
/*   background: #C75534; */
}

.slide:nth-of-type(4) {
/*   background: #D1D1D4; */
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  margin: 25px;
}

a.slide_btn {
  color: rgba(248,248,255, .35);
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active {
  color: rgba(46,25,54, 1);
  cursor: pointer;
  font-size: 48px;
}

.slide_btn:hover {
  color: rgba(46,25,54, .5);
  cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 18px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

svg{
    display: block;
    margin: auto;
}

.bn-align{
  padding: 15px;
  display: flex;
  justify-content: center;
}














// SWAP START



.swap {
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.arrows {
  position: absolute;
  transform-origin: center center;
  z-index: 1;
  width: 40%;
}

.circle {
  position: absolute;
  transform: scale(0);
  opacity: 0;
  z-index: 1;
  width: 40%;
}

.check {
  position: absolute;
  z-index: 2;
  width: 90%;
}

.checkmark {
  opacity: 0;
  width: 90%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes draw {
  0% {
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

// translate X, positive is right negative is left, Y postiive is up, negative is down 



@keyframes grow-circle {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.35);
    opacity: 1;
  }
}


.swap_play {
	.swap {
		.checkmark {
			  opacity: 0;
			  stroke-dasharray: 390;
			  stroke-dashoffset: 390;
			  animation: draw 500ms ease-in-out forwards 750ms;
		}	
		  .arrows {
			  animation: spin 900ms forwards ease-in-out;
			  animation-iteration-count: 3;
			  position: absolute;
			  transform-origin: center center;
			  z-index: 1;
		}
		.circle {
			  position: absolute;
			  transform: scale(0);
			  opacity: 0;
			  animation: grow-circle 700ms forwards ease-in 150ms;
			  animation-iteration-count: 1;
			  z-index: 1;
		}
	}
}





.check {
  position: absolute;
  z-index: 2;
}




// SVG STYLES START

     .cls-one {
        fill: #381345;
      }

      .cls-two {
        fill: #fe5893;
      }
          
      .cls-1 {
        fill: url(#linear-gradient);
      }


     .cls-11 {
        fill: #331543;
      }

      .cls-22 {
        fill: #67336e;
      }

      .cls-111 {
        fill: none;
        stroke: #fe5893;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 13px;
      }

      .cls-oneone {
        fill: #381345;
      }

      .cls-twotwo {
        fill: #fd4590;
      }


// SVG STYLES END

// SWAP END











// SWAP BOX v2 START


@keyframes wag_two {
  10% { 
    top: 25px; right: -30px; transform: rotate(-20deg); 
  }
  20% {
   top: 35px; right: -35px; transform: rotate(0); 
 }
  30% {
   top: 25px; right: -30px; transform: rotate(-20deg); 
 }
  40% {
   top: 35px; right: -35px; transform: rotate(0); 
 }
  50% {
   top: 30px; right: -32px; transform: rotate(-10deg); 
 }
  60% { 
    top: 35px; right: -35px; transform: rotate(0); 
}
}

@keyframes move_one_two {
  0% {
    opacity: 0;
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    opacity: 1;
    transform: translate(-17px, -7.5px) rotate(-2deg);
  }
  100% {
  opacity: 0;
  transform: translate(-20px, -10px) rotate(-8deg);
  }
}

@keyframes move_two_two {
  0% {
    opacity: 0;
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    opacity: 1;
    transform: translate(-13px, -5px) rotate(1deg);
  }
  100% {
  opacity: 0;
  transform: translate(-15px, -7px) rotate(5deg);
  }
}

@keyframes move_three_two {
  0% {
    opacity: 0;
    transform: translate(0px, 0px) rotate(0deg);
  }
  75% {
    opacity: 1;
    transform: translate(-9.5px, -12.3px) rotate(-2deg);
  }
  100% {
  opacity: 0;
  transform: translate(-13px, -14px) rotate(-4.5deg);
  }
}

.music_pole_two {
  transform: rotate(0deg);
  transform-origin: bottom center;
}


.music_1_two {
  opacity: 0;
}

.music_2_two {
  opacity: 0;
}

.music_3_two {
  opacity: 0;
}





.swap_inbox_play {
  .slither {
    transform-origin: 30% 40%;
  }
  .music_pole_two {
  animation: wag_two 1s cubic-bezier(.29,.65,.99,1.43) forwards;
  animation-iteration-count: 2;
  transform-origin: bottom center;
}
.music_1_two {
  opacity: 0;
  animation: move_one_two .75s linear forwards;
  animation-iteration-count: 2;
}
.music_2_two {
  opacity: 0;
  animation: move_two_two .75s linear forwards 250ms;
  animation-iteration-count: 2;
}
.music_3_two {
  opacity: 0;
  animation: move_three_two .75s linear forwards 500ms;
  animation-iteration-count: 2;
}

}

// SWAP BOX v2 END




























@media screen and (min-width: 375px) {
.pinned_container {
	margin-bottom: 1.2rem;
	.pin_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-weight: 100;
			font-size: 1.5em;
			margin-bottom: 0;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.swap_btn {
			img {
				margin-right: -0.5rem;
			}
		}
		.swap_icon {
			width: 35px;
			height: 35px;
			position: absolute;
			margin-top: -3.4rem;
			right: 1.7rem;
		}
	}
}





.uncollect_container {
	margin-bottom: 1.2rem;
	.uncollect_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-size: 1.5em;
			font-weight: 100;
			margin-bottom: 1rem;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.add {
			width: 85px;
			height: 93.3px;
			position: absolute;
			margin-top: -5.2rem;
			right: -0.65rem;
			border: none;
			background-color: #d1d4e4;
		}
	}
}




.collect_container {
	margin-bottom: 1.2rem;
	.collect_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-size: 1.5em;
			font-weight: 100;
			margin-bottom: 1rem;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.add {
			width: 85px;
			height: 93.3px;
			position: absolute;
			margin-top: -5.2rem;
			right: -0.65rem;
			border: none;
			background-color: #d1d4e4;
		}
	}
}

}











@media screen and (min-width: 414px) {
.pinned_container {
	margin-bottom: 1.2rem;
	.pin_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-weight: 100;
			font-size: 1.7em;
			margin-bottom: 0;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.swap_btn {
			img {
				margin-right: -0.8rem;
			}
		}
		.swap_icon {
			width: 35px;
			height: 35px;
			position: absolute;
			margin-top: -3.4rem;
			right: 2rem;
		}
	}
}





.uncollect_container {
	margin-bottom: 1.2rem;
	.uncollect_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-size: 1.7em;
			font-weight: 100;
			margin-bottom: 1rem;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.add {
			width: 85px;
			height: 93.3px;
			position: absolute;
			margin-top: -5.2rem;
			right: -0.65rem;
			border: none;
			background-color: #d1d4e4;
		}
	}
}




.collect_container {
	margin-bottom: 1.2rem;
	.collect_flex {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		h2 {
			color: #371443;
			font-family: 'Averia Sans Libre', cursive;
			font-size: 1.7em;
			font-weight: 100;
			margin-bottom: 1rem;
		}
	}
	h5 {
		font-family: 'Muli', sans-serif;
		font-size: 0.8em;
		padding-left: 1rem;
		margin-top: 0;
		margin-bottom: 0.2rem;
		color: #371443;
	}
	.song_info {
		position: relative;
		.song_flex {
			width: 100%;
			height: 70px;

			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-left: 6rem;

			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;

			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 1.1em;
				margin: 0;
				font-weight: 300;
				margin-bottom: 5px;
				margin-left: 0;
				color: #371443;
			}
			h6 + h6 {
				font-size: 0.9em;
			}
		}
		.temp {
			width: 70px;
			height: 70px;
			position: absolute;
			margin-top: -4.5rem;
			left: 0;
		}
		.add {
			width: 85px;
			height: 93.3px;
			position: absolute;
			margin-top: -5.2rem;
			right: -0.65rem;
			border: none;
			background-color: #d1d4e4;
		}
	}
}
}











