<div class="port_wrap">

    <form method="post">
      <div id="gather">

          <div id="headliner-input-container" class="entry-container-edit">
			 <div class="input-icons-container">
				 <img class="icon" src="../graphics/headliner.svg">
			 	<img class="background-icon" src="../graphics/inputcolorblock.svg">
			 </div>
          	<input type="text" name="headliner" value="<?php echo $row['headliner']; ?>" id="headliner" class="text-input">
		  </div>

		  <div id="opener-input-container" class="entry-container-edit">
			  <div class="input-icons-container">
				 <img class="icon" src="../graphics/opener.svg">
			 	<img class="background-icon" src="../graphics/inputcolorblock.svg">
			 </div>
          	<input type="text" name="supporting_act"  value="<?php echo $row['supporting_act']; ?>" id="supporting_act" class="text-input">
		  </div>

		<div id="venue-input-container" class="entry-container-edit">
			<div class="input-icons-container">
				 <img class="icon" src="../graphics/hotspot.svg">
			 	<img class="background-icon" src="../graphics/inputcolorblock.svg">
			 </div>
          <input type="text" name="venue"  value="<?php echo $row['venue']; ?>" id="venue" class="text-input">
        </div>

		<div id="date-input-container" class="entry-container-edit">
			<div class="input-icons-container">
				 <img class="icon" src="../graphics/future.svg">
			 	<img class="background-icon" src="../graphics/inputcolorblock.svg">
			 </div>
          <input type="date" name="concert_date" id="concert_date" class="text-input" value="<?php echo $row['concert_date']; ?>">
		</div>

        <div id="date-input-container">
			<div class="input-icons-container">
				 <img class="icon" src="graphics/future.svg">
			 	<img class="background-icon" src="../graphics/inputcolorblock.svg">
			 </div>
          <input type="time" name="concert_time" id="concert_time" class="text-input" value="<?php echo $row['concert_time']; ?>">
		</div>

		<div id="journal-input-container"  class="container-padding">
			<div class="input-icons-container">
				 <img class="icon" src="../graphics/journal.svg">
			 	<img class="background-icon"src="../graphics/inputcolorblock.svg">
			 </div>
       <textarea type="text" name="entry" id="entry" value="<?php echo $row['entry']; ?>" class="textarea"></textarea>
		</div>

      </div>
<!--

		<div id="collected-songs"></div>
		<div id="collected-badges"></div>
-->

		<div id="save-entry-container">
			<button type="submit" name="submit" onclick="editEntry()"><img src="../graphics/saveentry.svg"></button>
		</div>

    </form>
    <form action="php/delete_processing.php" method="post">
        <input type="date" name="concert_date" id="concert_date" value="<?php echo $row['concert_date']; ?>" class="uneeded">


          <input type="text" name="headliner" id="headliner" value="<?php echo $row['headliner']; ?>" class="uneeded">
    <input id="delete_me"type="submit" name="submit" value="delete">
    </form>
    <a href="#/main">Cancel</a>

    </div>



    <div class="land_wrap">

		<div class="land-text_wrap">
			<div class="stripe"><h3>Please turn your device to portrait mode</h3></div>
		</div>

		<div class="left_phone_wrap">
			<svg class="left_phone" id="Layer_6" xmlns="http://www.w3.org/2000/svg" width="200" height="110" viewBox="0 0 370 240">
			  <path id="phone_one" class="cls-one" d="M215,33v86a12,12,0,0,1-12,12H27a12,12,0,0,1-12-12s2-12,2-43-2-43-2-43A12,12,0,0,1,27,21H203A12,12,0,0,1,215,33Z" transform="translate(-15 -21)"/>
			  <circle class="cls-two" cx="180" cy="55" r="8"/>
			</svg>
		</div>

</div>